<div class="container">
  <mat-form-field class="search-field">
    <input [formControl]="searchCtrl" matInput placeholder="Search movies">
    <button mat-button *ngIf="searchCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchCtrl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <app-movie-mini-detail-list (endList)="getNextPage()" [wrap]="true" [movies]="movies"></app-movie-mini-detail-list>
  <mat-progress-bar *ngIf="loading_results" mode="indeterminate"></mat-progress-bar>
  <h5 *ngIf="page === totalPages"> End of resutls</h5>
</div>