<div class="container">
  <mat-form-field class="search-field">
    <input [formControl]="searchCtrl" matInput placeholder="Search movies">
    @if (searchCtrl.value) {
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchCtrl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <app-movie-mini-detail-list (endList)="getNextPage()" [wrap]="true" [movies]="movies"></app-movie-mini-detail-list>
  @if (loading_results) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if (page === totalPages) {
    <h5> End of resutls</h5>
  }
</div>