<mat-card >
  <mat-card-content fxLayout="column" fxLayoutGap="3px" fxLayoutAlign="center center" >
      <a  [routerLink]="['/movies', movie.id]">
        <img mat-card-image appPosterImage  [path]="movie.poster_path" [size]="POSTER_IMAGE_SIZES.W342" alt="{{movie.title}}">
      </a>
    <b class="title" >{{movie.title}}</b>
    <div  fxLayout="row" fxLayoutAlign="center" >
      <mat-icon>star_rate</mat-icon>
      <p >{{movie.vote_average}}</p>
    </div>

  </mat-card-content>
  <mat-card-footer fxLayout="row" fxLayoutAlign="center center" >
  <p  > {{movie.release_date | date: 'longDate'}}</p>
   </mat-card-footer>
</mat-card>
