

.content {
    margin-top: 7%;
  
  }
  .poster-image {
    width: 100%;
  }
  .tv-show-detail {
      margin-top: 20px;
    min-height: 400px;
  }
  .principal-info {
    position: relative;
    margin-left: 1%;
  }
  .container-fluid {
    padding-top: 1px;
    position: relative;
    padding-left: 12%;
  }
  
  .vote-average {
    margin-top: 10px;
   }
  
  .icon-rate {
    float:left;
  }
  .vote-count {
    margin-left: 60px;
  }
  button:focus { outline-style: none; }
  .menu-item{
    background-color: purple;
    margin-left: 15px;
  }
  