<div class="container">
  <div class="row">
    <div class=" postercol-lg-2">
      <img src="{{posterPath}}" alt="" srcset="">
    </div>
    <div class="col-lg-7">
      <h3 i18n> {{movie.title}} </h3>

        <h5 i18n> Resumen </h5>
        {{movie.overview}}
    </div>
    <div class="col-lg-1">
        <h5 i18n> Vote average </h5>
        <mat-progress-spinner [color]="'warn'" [strokeWidth]="4" [diameter]="40" [value]="movie.vote_average * 10">a</mat-progress-spinner>

      </div>
  </div>
  <ng-container *ngIf="movie.videos">
    <h3 i18n> Popularidad </h3>
    {{movie.popularity}}
    <div class="row">
      <div class="col-4">
        <h3 i18n> Vote count </h3>
        {{movie.vote_count}}
      </div>


    </div>
    <h3 i18n> {movie.videos.results, plural, =0 {No hay videos} =1 {Video} other {Videos}} </h3>
    <p *ngFor="let video of movie.videos.results">
      {{video.name}}
    </p>
    <ngx-gallery *ngIf="galleryImages.length > 0" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    <app-youtube-video [key_videos]= "movie.getVideoKeys()"> </app-youtube-video>
  </ng-container>
</div>
