<div class="container">
  <div class="row">
    <div class="poster col-lg-2">

      <img src="{{posterPath}}" alt="" srcset="">
    </div>
    <div class="col-lg-6">
      <h3 i18n> {{movie.title}} </h3>
      <div class="row">
          <div class=" col-lg-3">
            <div class="vote-average">
              <div>

                <mat-progress-spinner aria-label="movie.vote_average" [color]="movie.vote_average < 8 ? (movie.vote_average < 4? 'warn' : accent): 'default'"
                  [strokeWidth]="4" [diameter]="40" [value]="movie.vote_average * 10">
                </mat-progress-spinner>
                <div class="value"> {{movie.vote_average}} </div>

                <small class="circle-number">Puntuación</small>
              </div>
            </div>
          </div>
          <div class="col-lg-2 view-trailers">
            <button mat-button (click)="openDialog()">
              <mat-icon>movie</mat-icon> Ver trailers</button>
          </div>
          <div class="col-lg-2 view-images">
              <button mat-button (click)="openPreviewImages()">
                <mat-icon>photo_library</mat-icon> Ver imagenes</button>
            </div>

        </div>
      <h5 i18n> Resumen </h5>
      {{movie.overview}}
    </div>



    <ngx-gallery #onlyPreviewGallery *ngIf="galleryImages.length > 0" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>
