

.content {
  margin-top: 5%;

}
.poster-image {
  width: 100%;
}
.movie-detail {
  min-height: 400px;
}
.principal-info {
  position: relative;
  margin-left: 1%;
}
.container-fluid {
  padding-top: 1px;
  position: relative;
  margin-top: -1px;
  padding-left: 12%;
}

.vote-average {
  margin-top: 10px;
 }

.icon-rate {
  float:left;
}
.vote-count {
  margin-left: 60px;
}
button:focus { outline-style: none; }
.menu-item{
  background-color: purple;
  margin-left: 15px;
}
