<mat-list>

<div class="movie-detail container-fluid" [ngStyle]="{'background': galleryImages[0]? '
  linear-gradient(
  rgba(0, 0, 0, 0.75),
  rgba(0, 0, 0, 0.75)
  ), url( ' + galleryImages[0].big + ')' :
   'linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
    )' ,
  'background-repeat': 'no-repeat',
  'background-size': '',
  'width': '100%' }">


  <div class="content">
    <div class="row">
      <div class=" col-2 col-md-3">

        <img
        class= "poster-image"
        [ngStyle]="{'max-width.px' : POSTER_IMAGE_SIZES.W185.width}"
        src="{{movie.poster_path | imageURL: POSTER_IMAGE_SIZES.W185}}"
        alt="movie poster image" srcset="">
      </div>
      <div class="col-9 col-md-6 principal-info">
        <h3 i18n> {{movie.title}} {{ movie.release_date? '(' + (movie.release_date | date:'yyyy') + ')' : ''}}</h3>
        <div class="row">
          <div class=" col-5">
            <div class="vote-average">
              <div>
                  <mat-icon class="icon-rate">star_rate</mat-icon>
                <p class="icon-rate"> {{movie.vote_average}} </p>

                <p class="vote-count"> Votos: {{movie.vote_count}}</p>
              </div>
            </div>
          </div>
            <button
            matTooltip="Trailers"
            [matTooltipPosition]="'above'"
            [matBadge]="movie.videos.results.length" 
            matBadgePosition="after" 
            matBadgeColor="default"
            [disabled] = "movie.videos.results.length === 0"
            class="menu-item"
            mat-mini-fab (click)="openDialog()">
              <mat-icon>movie</mat-icon> </button>
            <button 
            matTooltip="Images"
            [matTooltipPosition]="'above'"
            [matBadge]="movie.images.backdrops.length" 
            matBadgePosition="after" 
            matBadgeColor="default"
            [disabled]="movie.images.backdrops.length === 0"
            mat-mini-fab class="menu-item"
            (click)="openPreviewImages()">
              <mat-icon>photo_library</mat-icon> </button>

        </div>
        <h5 i18n> Summary </h5>
        <p align="justify">{{movie.overview}}</p>
      </div>


      <ngx-gallery #onlyPreviewGallery *ngIf="galleryImages.length > 0" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
  </div>
</div>
</mat-list>
<mat-list>
<mat-divider></mat-divider>
<div *ngIf = "credits$ | async as credits"class="container">
<div class="row" >
<div class="col-12">
  <app-movie-credit-list [credits] = "credits"></app-movie-credit-list>
</div>
</div>
</div>
</mat-list>
