

.content {
  margin-top: 5%;

}

.fill-available {
  min-height: 100%;
  min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  min-height: stretch;

}

.movie-detail {
  min-height: 400px;
}
.principal-info {
  position: relative;
  margin-left: 1%;
}
.container-fluid {
  padding-top: 1px;
  position: relative;
  padding-left: 12%;
}

.vote-average {
  margin-top: 10px;
 }

.icon-rate {
  float:left;
}
.vote-count {
  margin-left: 60px;
}
button:focus { outline-style: none; }

.menu-item{
  background-color: purple;
  margin-left: 15px;
}



.mat-tab {
  padding-top: 20px;
}

.poster-image:hover .open-posters {
  opacity: 1;
}
.poster-image:hover .image {
  opacity: 0.3;
}

.poster-image {
  width: 100%;
  position: relative;

}
.open-posters {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

  .open-button {
    background-color: purple;
  }
}


.container {
  margin-top: 30px;
  overflow: hidden;
}
