
        <mat-toolbar  color="primary" class=" top-toolbar mat-elevation-z6">
          <div class="main-icon">
              <a routerLink="./" >TMdb <mat-icon matBadgeColor="warn">local_movies</mat-icon></a>
          </div>
            <a routerLink="/movies/500" ><button mat-button>Movies</button></a>
          <a routerLink="/people/2">
            <button mat-button>Actors</button>
          </a>
          <a>
            <button mat-button>Tv Series</button>
          </a>
          <span class="spacer"></span>


<app-search-input></app-search-input>





        </mat-toolbar>
