
        <mat-toolbar  color="primary" class=" top-toolbar mat-elevation-z6">
          <div class="main-icon">
              <a routerLink="./" >TMdb <mat-icon matBadgeColor="warn">local_movies</mat-icon></a>
          </div>
            <a routerLink="/movies" ><button mat-button>Movies</button></a>
          <a routerLink="/people">
            <button mat-button>Actors</button>
          </a>
          <a routerLink="/tv">
            <button mat-button>Tv Series</button>
          </a>
          <span class="spacer"></span>

<span class="search-input">
<app-search-input ></app-search-input>
</span>





        </mat-toolbar>
