
        <mat-toolbar  color="primary" class=" top-toolbar mat-elevation-z6">
          <div class="main-icon">
            <p>
              TMdb <mat-icon matBadgeColor="warn">local_movies</mat-icon>
            </p>
          </div>
            <a routerLink="/movies/500" ><button mat-button>Peliculas</button></a>
          <a routerLink="/people/2">
            <button mat-button>Actores</button>
          </a>
          <a>
            <button mat-button>Series</button>
          </a>
          <span class="spacer"></span>



          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Buscar peliculas" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
              <mat-autocomplete #auto="matAutocomplete" disableRipple = "true">
                <mat-option *ngFor="let movie of this.movies$ | async" [value]="movie.title">
                    <a [routerLink]="['movies', movie.id]">
                  <img style="vertical-align:middle;" aria-hidden  height="25" />
                  <span>{{ movie.title }}</span>
                 |
                  <small>Votación: {{movie.vote_average}}</small>
                </a>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>




        </mat-toolbar>