@import '~sass/mixins';

  .example-full-width {
    width: 500px;
  }
  a{
    @include text-color();
    text-decoration: none;
    span {
      .mat-icon {
        margin-top: -3px;
        margin-right: 0%;
      }
    }
  }
.mat-option {
  overflow: unset;
}
.mat-autocomplete{
  min-height: 120px;
}
.zoom:hover {
    z-index: 1;
    margin-top: -32px;
    position: absolute;
    transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom-first:hover {
  margin-top: 10px;
  z-index: 1;
  position: absolute;
  transform: scale(2.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom-last:hover {
  margin-top: -30px;
  z-index: 1;
  position: absolute;
  transform: scale(1.8); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom, .zoom-first, .zoom-last{
  transform-origin: left top;
  transition: transform .1s; /* Animation */
}
.mat-autocomplete-panel {
  max-height: 500px;
}
.search-options{
  position:fixed;
  bottom: 0px;
}

