

  <div *ngIf="personCreditsCombined$ | async as personCreditsCombined " fxLayout="row">

      <div
      *ngIf="personCreditsCombined.cast.length > 0"
      [fxFlex]="personCreditsCombined.crew.length > 0? '50%' : '100%'">
        Cast <br>
        <app-person-credits-combined-detail
         *ngFor=" let cast of personCreditsCombined.cast | slice: 0 : 7"
         [personCredit] = "cast">>
        </app-person-credits-combined-detail>
      </div>


      <div *ngIf="personCreditsCombined.crew.length > 0"
        [fxFlex]="personCreditsCombined.cast.length > 0? '50%' : '100%'">
        Crew <br>
        <div>

       <app-person-credits-combined-detail
       *ngFor=" let crew of personCreditsCombined.crew | slice: 0 : 7"
       [personCredit] = "crew">
      </app-person-credits-combined-detail>
      </div>
      </div>

  </div>

