.principal-container {
    min-height: 800px;

}
.close-sidenav {
    position: relative;
    float: right;
    cursor: pointer;
}
.sidenav-button {
    margin-top: 3px;
}
.menu-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.example-icon {
    padding: 0 14px;
  }
  .mat-sidenav {
    padding-left: 5px;
    padding-right: 5px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
.mat-sidenav-content {
  padding-top: 5%;
}
.line-with-icon md-icon {
  font-size: 1rem;
  width: inherit;
  height: 1.2rem;
  vertical-align: middle;
}
button:focus { outline-style: none; }
.main-icon > p {
  margin-top: 20px;
  margin-right: 30px;
}
.mat-button {
  color: white;
}
