
<mat-toolbar  class="mat-elevation-z6" color="primary">

    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>

</mat-toolbar>
<mat-sidenav-container  
    class="principal-container" (backdropClick)="close('backdrop')" >
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <mat-icon (click)="close('toggle button')" class="close-sidenav">close</mat-icon>
      <div class="menu-container">

    <button class="sidenav-button" color="primary" mat-flat-button >Movies</button>
    <button class="sidenav-button" color="primary" mat-flat-button >People</button>
</div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">Open</button></p>
    <p>Closed due to: {{reason}}</p>
        <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
