
.close-sidenav {
    position: relative;
    float: right;
    cursor: pointer;
}

.mat-drawer-container {
  background-color: rgba(0,0,0,1);
  min-height: 700px;
}
.top-toolbar {
  background-color: rgba(0,0,0,1);
}
a{
  color: white;
}
.sidenav-button {
    margin-top: 3px;
}
.menu-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.example-icon {
    padding: 0 14px;
  }
  .mat-sidenav {
    padding-left: 5px;
    padding-right: 5px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
.mat-sidenav-content {
  padding-top: 15%;
  min-height: 750px;
}
.footer {
  left: 0;
  bottom: 0;
  border-top: 3px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: white;
  background-color: rgba(0,0,0,1);
  z-index: 1;
  text-align: center;
}
.example-form {
  margin-top: 45px;
}
.example-full-width {
  width: 500px;
}

button:focus { outline-style: none; }
.main-icon > p {
  margin-top: 20px;
  margin-right: 30px;
}
.mat-drawer-content {
  overflow: unset !important;
}

.mat-button {
  color: white;
}
