<mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z6">
      <div class="main-icon">
        <p>
          TMdb <mat-icon matBadgeColor="warn">local_movies</mat-icon>
        </p>
      </div>
        <a routerLink="/movies/500" ><button mat-button>Peliculas</button></a>
      <a routerLink="/people/2">
        <button mat-button>Actores</button>
      </a>
      <a>
        <button mat-button>Series</button>
      </a>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button (click)="sidenav.open()" mat-mini-fab>
        <mat-icon >menu</mat-icon>
      </button>



      <span class="example-spacer"></span>


    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container  class="principal-container" (backdropClick)="close()">


    <mat-sidenav  #sidenav (keydown.escape)="close()"   disableClose>
      <mat-icon (click)="close()" class="close-sidenav">close</mat-icon>
      <div class="menu-container">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip color="warn">Movies </mat-chip>
          <mat-chip selected="true" color="warn">People </mat-chip>
          <mat-chip color="warn">Series </mat-chip>
          <mat-chip color="warn">My profile</mat-chip>
        </mat-chip-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

<!-- <mat-toolbar class="footer" color="primary">M y App</mat-toolbar> -->

