<div [ngStyle]="{'min-height.px': 135}" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="left center" class="credit">
  <div>
    <a [routerLink]="personCredit.title? ['/movies', personCredit.id]: ['/tv', personCredit.id]">
      <img  appZoomImage position_hover="relative" appPosterImage class="credit-image" [ngStyle]="{'max-width.px' : '90'}" [path]="personCredit.poster_path" [size]="POSTER_IMAGE_SIZES.W154"
        alt="movie poster image" srcset="">
    </a>
  </div>
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="8px">

    @if (personCredit.title) {
      <h4>{{personCredit.title}}</h4>
    }
    @if (personCredit.name) {
      <h4>{{personCredit.name}}</h4>
    }
    <div fxLayout="row" fxLayoutGap="10px">
      <span>Vote average: </span>
      <div fxLayout="row" fxLayoutAlign="left center">
        <mat-icon fxFlexAlign="center">star_rate</mat-icon>
        <span>{{personCredit.vote_average}}</span>
      </div>
      <span>Votes: {{personCredit.vote_count}}</span>
      <span>Popularity: {{personCredit.popularity | number: '1.0-0'}}%</span>
    </div>

    @if (personCredit.job) {
      <div class="info">
        Work as {{personCredit.job}}
      </div>
    }
    @if (personCredit.character) {
      <div class="info">
        Interpreting {{personCredit.character}}
      </div>
    }
  </div>
</div>
