<div  [ngStyle]="{'min-height.px' : 120}"  class="credit-detail">
  <a [routerLink]="['/people', credit.id]">
    <img
      appZoomImage position_hover="absolute"
      appProfileImage
      [path]='credit.profile_path'
      [size]="PROFILE_IMAGE_SIZES.W185"
      width="90px"
      height="120px"
    > </a>
    {{credit.name}}
    @if (credit.character) {
      as   <em><{{credit.character}}></em>
    } @else {
      @if (credit.job) {
        <span  >  working as  {{credit.job | indefiniteArticle }} <em>{{credit.job}}</em></span>
      }
    }

  </div>

