<div class="container">
  <mat-form-field class="search-field">
    <input [formControl]="searchCtrl" matInput placeholder="Search movies">
    <button mat-button *ngIf="searchCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchCtrl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
      <mat-select panelClass="panel-control" placeholder="View type">
        <mat-option  [value]="'table'">
          Table view
        </mat-option>
        <mat-option  [value]="'square'">
            Square
          </mat-option>
      </mat-select>
    </mat-form-field>
    
  <!--app-movies-list-table 
  [movies]="movies$"
  (pageChange)="onSetPage($event)"
  [resultsLength] = "resultsLength">
 
  </app-movies-list-table-->
  <app-movie-mini-detail-list  [wrap]="true" [movies$]="movies$"></app-movie-mini-detail-list>
</div>