

<div fxLayoutGap="15px" fxLayout="row">

  @if (personCreditsCombined.cast.length > 0) {
    <div
      fxLayout="column"
      fxLayoutGap="15px"
      [fxFlex]="personCreditsCombined.crew.length > 0? '50%' : '100%'">
      <h3>Cast </h3>
      @for ( cast of personCreditsCombined.cast | slice: 0 : 7; track  cast) {
        <app-person-credits-combined-detail
          [personCredit] = "cast">>
        </app-person-credits-combined-detail>
      }
    </div>
  }


  @if (personCreditsCombined.crew.length > 0) {
    <div
      fxLayout="column"
      fxLayoutGap="15px"
      [fxFlex]="personCreditsCombined.cast.length > 0? '50%' : '100%'">
      <h3>Crew </h3>
      @for ( crew of personCreditsCombined.crew | slice: 0 : 7; track  crew) {
        <app-person-credits-combined-detail
          [personCredit] = "crew">
        </app-person-credits-combined-detail>
      }
    </div>
  }

</div>

