<div class="container">
  <div class = "movies">
    <h1>People</h1>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
      <div fxLayout="column">
        <h3>Popular people</h3>
        @if (people) {
          <app-people-mini-detail-list  (endList)="getNextPage()" [people]="people"> </app-people-mini-detail-list>
        }
      </div>
    </div>
  </div>
  @if (loading_results) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if (page === totalPages) {
    <h5> End of resutls</h5>
  }
</div>
