.biography {
  margin-top: 3%;
}
.profile-image {
  width: 100%;
}
.container {
  margin-top: 5%;
}
.mini-detail-element{
  display: inline-flex;
  align-items: center;
  margin-top: 0.3em; // cosmetic
  margin-right: 1em; // cosmetic
}
