<ng-container *ngIf="person">

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img src="{{profileImagePath}}" alt="person_profile_image" srcset="">
        <div class="">
          <button mat-button>
            <mat-icon>photo_library</mat-icon> Ver imagenes</button>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="row">
          <h2 class="name">{{person.name}} </h2>
        </div>
        <div class="row birth-day">

          <div class="birth-day" *ngIf="person.also_known_as.length > 0">
            <small>Tambien conocido como: {{person.also_known_as.join(', ')}}</small>
          </div>
          <div class="birth-day">
            <mat-icon>today</mat-icon>
            <small>Fecha de nacimiento: {{person.birthday | date: 'dd/MM/yyyy'}}</small>
          </div>
          <div *ngIf="person.deathday" class="birth-day">
            <mat-icon>today</mat-icon>
            <small>Fecha de defunción: {{person.deathday | date: 'dd/MM/yyyy'}}</small>
          </div>

        </div>
        <div class="biography row" *ngIf="person.biography; else nobiography">
          <h4>Biografía</h4>
          <p align="justify">{{person.biography}} </p>
        </div>
        <ng-template #nobiography>
          <div class="biography row">
            <h4>No se ha encontrado una biografía</h4>
            <p align="justify">{{person.biography}}</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
