<ng-container *ngIf="person">

  <div class="container">
    <div class="row">
      <div class="col-3">
        <img
        class="profile-image"
        [ngStyle] = "{'max-width.px': PROFILE_IMAGE_SIZES.W185.width}"
        [src]="
        person.profile_path?
        (person.profile_path | imageURL: PROFILE_IMAGE_SIZES.W185):
        './assets/img/people/default-profile-men.png'" alt="person_profile_image" srcset="">
        <div class="">
          <button mat-button>
            <mat-icon>photo_library</mat-icon> Ver imagenes</button>
        </div>
      </div>

      <div class="col-9">
        <div class="row">
          <h2 class="name">{{person.name}} </h2>

        </div>
        <div class="row birth-day">

          <div class="mini-detail-element" *ngIf="person.also_known_as.length > 0">
            <small>Also known as: {{(person.also_known_as | slice:0:2).join(', ')}}</small>
          </div>
          <div *ngIf="person.birthday" class="mini-detail-element">
            <mat-icon>today</mat-icon>
            <small>Birth date: {{person.birthday | date: 'dd/MM/yyyy'}}</small>
          </div>
          <div *ngIf="person.deathday" class="mini-detail-element">
            <mat-icon>today</mat-icon>
            <small>Dead dathe: {{person.deathday | date: 'dd/MM/yyyy'}}</small>
          </div>

        </div>
        <div class="biography row" *ngIf="person.biography; else nobiography">
          <h4>Biography</h4>
          <p align="justify">{{person.biography}} </p>
        </div>
        <ng-template #nobiography>
          <div class="biography row">
            <h4>Biography not available</h4>
            <p align="justify">{{person.biography}}</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
<app-person-credits-combined-list [personCreditsCombined$] = "personCreditsCombined$"></app-person-credits-combined-list>
